
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<p>
    Sorry! One of the tickets in your order was bought by someone else while you were checking out. Create another order.
</p>
